.container{
    /*舞台*/
    width:1000px;
    height:500px;
    margin:20px auto;
    outline:1px solid red;
    perspective: 1000px;
    position: relative;
    top:0;
    perspective-origin: 22% -28%;
    /*第一位数左右，第二位数上下（负为视野从上到下，正为视野从下到上）*/
}
.content{
    /*容器*/
    /*容器旋转是默认是按中心点旋转*/
    width: 1000px;
    height: 100px;
    transform: rotateY(-60deg);
    transform-style: preserve-3d;
    position: absolute;
    left:0;
    top:0;
    outline:1px solid red;
}
.odiv{
    width: 100px;
    height:100px;
    position: absolute;
    left:200px;
    top:74px;
}
/*注意围绕转要容器和里面的的元素的关系*/
.odiv1{
    background-color: #30caca;
    transform: rotateY(60deg) translateZ(100px);
    /*有时分不清rotateX/Y/Z的方向，看到一个例子觉得写得很好*/
    /*rotateX可以想是翻单杠、y可以是钢管、z可以想是侧身打滚*/
    /*tanslateZ是向屏幕外走*/
}
.odiv2{
    background-color: #d85563;
    transform: rotateY(120deg) translateZ(100px);
}
.odiv3{
    background-color: darkslategray;
    transform: rotateY(180deg) translateZ(100px);
}
.odiv4{
    background-color: aqua;
    transform: rotateY(240deg) translateZ(100px);
}
.odiv5{
    background-color: blueviolet;
    transform: rotateY(300deg) translateZ(100px);
}
.odiv6{
    background-color: chartreuse;
    transform: rotateY(0deg) translateZ(100px);
}